<div style="margin-top: 5px" class="container">
  <nav class="nav nav-pills flex-column flex-sm-row">
    <a routerLink="/start" class="flex-sm-fill text-sm-center nav-link" href="" >Test</a>
    <a class="flex-sm-fill text-sm-center nav-link" >Results</a>
  </nav>
</div>
