<div class="container-fluid wrapper">
  <div class="row">

    <div class="col-md-2 offset-md-1 col-sm-5 offset-sm-1">
      <a class="text-primary" href="">About Us</a>
    </div>

    <div class="col-md-2 offset-md-1 col-sm-5 offset-sm-1">
      <a class="text-primary" href="">Contact Us</a>
    </div>

    <div class="col-md-2 offset-md-1 col-sm-5 offset-sm-1">
      <a class="text-primary" href="">Privacy and Policy</a>
    </div>

    <div class="col-md-2 offset-md-1 col-sm-5 offset-sm-1">
      <a class="text-primary" href="">Privacy and Policy</a>
    </div>

  </div>
</div>
