


<div class="container-fluid">



    <div *ngFor="let question of question; let d = index">
      <b> <label class="form-text" >{{question.question}}</label></b>
      <div *ngFor="let answer of question.answers; let i = index" class="answers">
        <input [checked]="answersArray[d]['Q'+d] === i " class="form-check-label" type="radio" [name]="'Q'+ d ">
        <i [style.color]=" answersArray[d]['Q'+d] === i? 'red': 'black' " [class.text-success]="i === question.correctAnswer">{{answer}}</i>
      </div>
    </div>
</div>



<button (click)="log()" class="btn-primary" >LOG</button>









