<h1> You have given  <b *ngIf="rightAnswers || rightAnswers === 0; else elseBlock" >{{rightAnswers}} </b>  <ng-template #elseBlock >  <i  >Calculating...</i> </ng-template>  right answer{{rightAnswers>1 ? 's' : ''}} of  {{allQuestions}} Questions  </h1>


<button class="btn btn-primary" (click)="viewAnswers()" >View results</button>


