

<div class="wrapper">


  <div class="container-fluid">

    <h3 class="text-success"> Timer  {{minutes}} : {{seconds}} </h3>


    <form #radioForm="ngForm" >

      <div *ngFor="let question of questions; let d = index">
        <b> <label class="form-text" >{{question.question}}</label></b>
        <div *ngFor="let answer of question.answers; let i = index" class="answers">
          <input  [name]="'Q'+ d " class="form-check-label" type="radio" [value]="i" ngModel>
          <i class="text-dark" >{{answer}}</i>
        </div>
      </div>

    </form>

  </div>


  <button class="btn btn-primary" (click)="log(radioForm)" >End the test</button>

</div>
