<div class="container-fluid">

  <div class="wrapper">

    <form [formGroup]="userInput">

      <input [class.is-invalid]="userInput.get('phone').touched && userInput.get('phone').invalid" formControlName="phone" class="form-control" placeholder="Phone Number" type="text">
        <div *ngIf="userInput.get('phone').touched && userInput.get('phone').invalid">
          <small *ngIf="userInput.get('phone').invalid" class="text-danger" > Please enter a valid Phone Number (phone Number should contain only 9 digits) </small>
        </div>

      <input [class.is-invalid]="userInput.get('email').touched && userInput.get('email').invalid" formControlName="email" class="form-control" placeholder="E-mail" type="text">
      <div *ngIf="userInput.get('email').touched && userInput.get('email').invalid">
        <small *ngIf="userInput.get('email').invalid" class="text-danger" > Please enter a valid E-mail </small>
      </div>
      <button (click)="goToQuestions()" class="btn btn-primary" >Start</button>

    </form>

  </div>

</div>

